.content-detail{
  display: flex;
  border: 3px solid #7e2b2b;
  width: 600px;
  margin: 20px auto;
  background-color: #ccc ;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  padding: 10px;
  border-radius: 5px;
}
.detail{
    font-family: 'Righteous';
    color: rgb(7, 7, 117);
    text-align: center;
    margin: 0px 10px
  }

.content-detail img {
    display: flex;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 5px 5px 0 0;
  }

.ir-al-carrito{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid  rgb(7, 7, 117);
  background-color: rgb(233, 224, 224);
  color:rgb(167, 31, 31);
  font-family: 'Righteous';
  cursor: pointer;
  padding: 5px;
}
 