.productos{
    border: 1px solid black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: 20px;
}

.boton-eliminar{
    cursor: pointer;
}